/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Open+Sans|Abel|Rajdhani|Share|Pacifico');


body {
	font-family:"open sans" ;
	font-size:1.5em;
	
}

p .serif {
	font-family:"";
}

h1 {
	font-family:"Pacifico";
	color:#142b33;
	margin-top:5px;
	letter-spacing: -2px;
	font-size:2em;
}

h1 a {
	text-decoration:none;
	color:#142b33;
}

h1 a:hover {
	text-decoration:none;
	color:#556d75;
}

h2 {
	font-family:"Share";
	font-weight:bold;
	color:#142b33;
}

h3 a {
	font-family:"Share";
	font-weight:bold;
	color:#142b33;
}

h3 a:hover {
	color:#445b63;
	text-decoration:none;
	box-shadow: 0px 1px 0px 0px #667c84;
}

h3 {
	font-family:"Share";
	font-weight:bold;
}



.fondhead {
	background-color:#F0F0F0;
}

.contact {
	background-color:cadetblue;
	border:solid #9FBFBE;
	color:white;
	font-family: "open sans";
}

.contact:hover {
	background-color:#9FBFBE;
	border:solid #9FBFBE;
}

.contact:active {
	background-color:#7D9D9C!important;
	border:solid 3px #7D9D9C!important;
}

.contact:focus {
	box-shadow: 0px 0px 2px 1px #7D9D9C;
}

.projet:hover {
	background-color:#FAFAFA;
	box-shadow: 0px 0px 2px 1px #F0F0F0;
}

footer {
	padding:10px;
	color:grey;
}

.copyright{
	font-size:0.75em;
}

 @media (max-width: 576px) {
      .text-xs-center {
              text-align: center;
       }
    }

ul.timeline {
    list-style-type: none;
    position: relative;
    color:white;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.titre_timeline {
	color:white;
}

.titre_poste {
	font-weight: bold;
	font-family:Share;
	font-size:30px;
}

.prjwrapper {
	margin:60px auto;
	}

.prjwrapper h2 {
	font-size: 50px;
	margin-bottom:50px;

}

.prjwrapper p {
	font-size:20px;
	margin-top:10px;
}

.prjwrapper ul {
	list-style: square inside;
}


.titre_timeline {
	margin-bottom: 50px;
	color:white;
	font-size: 40px;
}

.entreprise {
	font-size:16px;
	color:crimson;
	font-weight: bold;
}

.des_poste {

}

.date_poste {
	font-family: "Rajdhani";
	color:#CCCCCC;
}
