{% load static %}
<html>
    <head>
    	<meta charset="utf-8">
   		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>mehdiaoussat.fr - UX Researcher et Psychologie Expérimentale</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        <link rel="stylesheet" href="{% static 'css/book.css' %}">
        
        <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130926333-2"></script>
		<script>
	  		window.dataLayer = window.dataLayer || [];
	  		function gtag(){dataLayer.push(arguments);}
	  		gtag('js', new Date());
			gtag('config', 'UA-130926333-2');
		</script>
    </head>
	<body>
		<div style="overflow-x:hidden;">
	    <div class="fondhead" style="margin-top:-20px;padding-top:20px">
		  <div class="container" >
			{% include "book/nav.html" %}
		</div>
		</div>
		{% block content1 %}
        {% endblock %}
		
		{% block content2 %}
        {% endblock %}
		  {% include "book/footer.html" %}
		  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	      <script src="js/jquery-3.2.1.min.js"></script>
	      <!-- Include all compiled plugins (below), or include individual files as needed -->
	      <script src="js/popper.min.js"></script>
	      <script src="js/bootstrap-4.0.0.js"></script>
	  </div>
	</body>
</html>