{% load static %}
<div class="row" style="margin-top: -16px;padding-top:50px;">
	<div class=" col-md-6 col-lg-5 text-center align-middle" style="padding:20px 30px;margin-bottom:50px;">
    	<img style="max-width:300px;opacity:0.6;;" src="{% static 'images/plant.svg' %}" alt="Freepik @ Flaticons"/>
  	</div>
  	<div class="col-md-6 col-lg-6 align-middle text-sm-center text-md-left" style="margin: auto 0;">
    <h2 class="h2-responsive">Hello !</h2>
    	<p>Bienvenu sur mon porte-folio. Je suis UX Researcher, spécialisé dans la conduite d'études en ergonomie et en psychologie cognitive. J'oeuvre à mieux comprendre les utilisateurs et à les intégrer au processus de conception de produits et de services. Vous pouvez jeter un oeil à quelques projets sur lesquels j'ai pu travaillé. <br><br>Enjoy !</p>
 	</div>
</div>