{% load static %}
<div class="row" style="margin-top: -16px;padding-top:50px;">
	<div class=" col-md-5 col-lg-5 text-center align-middle" style="padding:20px 30px;margin-bottom:30px;">
    	<img style="opacity:0.6;" src="{% static 'book/images/header.svg' %}" alt="Freepik @ Flaticons"/>
  	</div>
  	<div class="col-1"></div>
  	<div class="col-md-6 col-lg-6 align-middle text-sm-center text-md-left head" style="margin: auto 0;z-index:2;">
    <h2 class="h2-responsive">Mehdi Aoussat</h2>
    <h4 class="h4-responsive">UX Researcher, M.Sc Psychologie Cognitive</h4>
    	<p><br>Bienvenue sur mon porte-folio ! <br/>Je suis spécialisé dans les études en ergonomie et en psychologie cognitive. Mon objectif est de mieux comprendre les utilisateurs et de les intégrer au processus de conception de produits et de services. </p><br/>
    	<a href="mailto:mehdi.aoussat@gmail.com"><div class="emailbtn bouton">E-mail</div></a> <a target="_blank" href="https://www.linkedin.com/in/mehdi-aoussat/" ><div class="linkedinbtn bouton">LinkedIn</div></a> <a target="_blank" href="https://github.com/docteur-bob/"><div  class="githubbtn bouton">GitHub</div></a>
 	</div>
</div>