{% extends 'book/base.html' %}
{% block content1 %}

<div class="fondhead" style="">
<div class="container" >
			{% include "book/header.html" %}
		</div>
	</div>
{% endblock %}

{% block content2 %}

		{% include "book/angle.html" %}
		<div class="container" style="z-index:3;position:relative; padding:50px 0 75px 0;">
			{% include "book/liste_projet.html" %}
		</div>
		<!--
		<div style="background-color:#F0F0F0;">
			<div class="container" style="z-index: 3;padding:100px 0;">
				{% include "book/skillsmacro.html" %}
			</div>
		-->
		  
{% endblock %}