{% extends 'book/base.html' %}
{% block content1 %}

<div class="fondhead" style="">
<div class="container" >
			{% include "book/header.html" %}
		</div>
	</div>
{% endblock %}

{% block content2 %}

		{% include "book/angle.html" %}
		<div class="container" style="z-index:3;position:relative;">
			{% include "book/liste_projet.html" %}
		</div>
		  <!--
		  <div class="position-relative" style="overflow-x:hidden;margin-top: 75px;padding-top:25px;background-color:#142b33;z-index:1;overflow-y:hidden;">
			  <img src="" class="position-absolute" style="right:-25vh;top:-25vh;width:75vh;height:75vh;z-index:0;rotate:-10deg;opacity:0.1;"/>
				<div class="container mt-5 mb-5">
					<div class="row">
						<div class="col-12">
							{% include "book/competences.html" %}
					</div>
					
				</div>			
		  </div> -->
{% endblock %}