{% load static %}
<nav class="row" style="margin-top:15px; margin-bottom:0px;">  
	<div class="col-sm-12 align-middle" style="margin-top:5px;">
		<h1 class="h1-responsive" style="position:relative;float:left;"><a href="{% url 'accueil' %}">mehdiaoussat.fr</a></h1>
		<ul style="margin-top:20px; list-style: none;text-align: right;position:relative;float:right;display:inline-flex;">
			<li style="padding: 0 30px;"><a>A propos</a></li>
			<li><a href="mailto:mehdi.aoussat@gmail.com">E-mail</a></li>
		</ul>
	</div>

</nav>
<hr>